<!DOCTYPE html>
<html>
<head>
  <title>Writefully</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navbar' %>
  <div id='main' class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <%= render 'flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
